@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 8px 16px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: rgb(3, 148, 3);
  color: white;
}

button:hover {
  transform: translate(1px, 1px);
}

button:hover {
  transform: translate(1px, 1px);
  background: rgb(7, 70, 2);
}

.chat {
  height: 100vh;
  position: relative;
  background-color: #ccc;

  .new-chat__button {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}

.chat-list {
  position: absolute;
  box-sizing: border-box;
  top: 48px;
  height: 82%;
  width: 100vw;
  overflow-y: auto;
  padding: 8px 16px;
  background-color: #eee;
}

.message-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  width: 100%;

  position: absolute;
  bottom: 16px;

  margin-top: auto;
  font-size: 12px;

  input {
    width: 65%;
    padding: 12px 10px;
  }
}
